<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">Banderas de Estados Unidos</h1>
    <!-- PONER ELEMENTO HEADER -->
  </div>
</div>

<main class='container'>
  <div [ngSwitch]="view">
    <app-home (homeEmitter)="logged($event)" *ngSwitchCase="login"></app-home>
    <app-home (homeEmitter)="logged($event)" *ngSwitchDefault></app-home>
    <app-question *ngSwitchCase="question"></app-question>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <p class="text-muted">© 2018 - UO237542 Pablo Menéndez Barrientos - MIW</p>
  </div>
</footer>
