<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">Banderas de Estados Unidos</h1>
    <!-- PONER ELEMENTO HEADER -->
  </div>
</div>

<main class='container'>
  <div [ngSwitch]="view">
    <app-home (homeEmitter)="logged($event)" *ngSwitchCase="'login'"></app-home>
    <pretest-component (pretestEmitter)="results($event)" *ngSwitchCase="'pretest'"></pretest-component>
    <question-component *ngSwitchCase="'question'"></question-component>
    <app-home (homeEmitter)="logged($event)" *ngSwitchDefault></app-home>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <p class="text-muted">© 2018 - UO237542 Pablo Menéndez Barrientos - MIW</p>
  </div>
</footer>
