img { width: 100%; }

.panel { margin-bottom: 100px !important; }

button {
  width: 100% !important;
}

li:hover {
  background-color: #d9edf7;
  cursor: pointer;
}

.correct {
  background-color: greenyellow;
}

.failed {
  background-color: red;
}
