<div class="panel panel-info" *ngIf="!review">
  <div class="panel-heading">
    ¿Que Estado tiene esta bandera?
  </div>
  <div class="panel-body">
    <img src="{{currentQuestion.image}}"/>

    <ul class="list-group mt">
      <li class="list-group-item" *ngFor="let option of currentQuestion.answers" (click)="respond(option)">{{option}}</li>
    </ul>
  </div>
</div>

<div *ngIf="review">
  REVIEW TAIMU
</div>

<button class="btn btn-success" *ngIf="!answer" (click)="continue()">Continuar</button>
